@model NKANA.ViewModels.ArtWorkDetailsVm

@{
    ViewData["Title"] = Model.Title;
}
@section Styles{
    <link rel="stylesheet" href="~/gallery/css/photoswipe.css">
}

<!-- Content -->
<div class="aurel_main_wrapper aurel_top_padding_yes aurel_bottom_padding_yes">
    <div class="aurel_container">
        <div class="aurel_content_wrapper row aurel_left_sidebar">
            <!-- Content Container -->
            <div class="aurel_content col9">
                <div class="aurel_tiny">
                    <div class="aurel_widget_pm_blog_listing">
                        <div class="aurel_widget_container">
                            <div class="aurel_front_end_display">
                                <div class="aurel_blog_wrapper aurel_element_blog blog_type_standard">
                                    <!-- Item 1 -->
                                    <div class="standard_post_item">
                                        <div class="aurel_post_formats aurel_pf_gallery aurel_pf_boxed">
                                            <div class="aurel_pf_gallery aurel_pf_gallery3 aurel_photoswipe_wrapper" data-uniqid="015">
                                                @for (int i = 0; i < Model.ImagesUrl.Count(); i++)
                                                {
                                                    <div class="aurel_pf_gallery_item">
                                                        <a rel="pf_grid_gallery156" href="@Model.ImagesUrl.ElementAt(i)" class="aurel_pswp_slide aurel_dp aurel_no_select" data-size="1920x1280" data-count="@i">
                                                            <img src="@Model.ImagesUrl.ElementAt(i)" alt="image-@i" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="aurel_post_meta">
                                            <div class="aurel_post_meta_item">@Model.DateCreated.ToString()</div>
                                            <div class="aurel_post_meta_item">
                                                <a href="javascript:void(0)" rel="category tag">@Model.Artist</a>
                                            </div>
                                        </div>
                                        <h2 class="aurel_post_listing_title">
                                            <a href="javascript:void(0)">@Model.Title</a>
                                        </h2>
                                        <div class="aurel_excerpt">
                                            @Html.Raw(Model.Description)
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters aurel_mb_40">
                        <div class="col col-8">
                            <h4 class="aurel_post_listing_title">
                                <a href="javascript:void(0)">Send an inquiry</a>
                            </h4>
                            <form id="contact_form" action="~/inquiry/send/" method="post" class="aurel_sm_mb_25">
                                <input type="hidden" name="ArtWorkId" value="@Model.Id" />
                                <input type="text" name="Title" required placeholder="Title" form="contact_form" size="40">
                                <textarea name="Message" required cols="40" rows="10" placeholder="Message" form="contact_form"></textarea>
                                <input type="submit" id="send_art_inquiry" value="Send Message">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Container -->
            <div class="aurel_sidebar col3 first">
              
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/gallery/js/photoswipe.min.js"></script>
    <script src="~/gallery/js/photoswipe-ui-default.min.js"></script>
}
