@model NKANA.ViewModels.ArtWorkInquiryDetailVm

@{
    ViewData["Title"] = "Artwork Inquiry";
}

<section class="section">
    <div class="section-header">
        <h1>Artwork Inquiry</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">Inquiry</a></div>
            <div class="breadcrumb-item">Details</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Model.Title</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Model.Message</p>
                        <p class="card-text"><strong>User: </strong>@Model.User</p>
                        <p class="card-text"><strong>Date: </strong>@Model.RequestDate</p>
                        <p class="card-text"><strong>Artist's Quoted Price: </strong>@Model.Price</p>
                        <a asp-area="Dashboard" asp-controller="NkanaUsers" asp-action="Details" asp-route-id="@Model.UserId" class="card-link">View User</a>
                        <a asp-area="Gallery" asp-controller="ArtWorks" asp-action="Details" asp-route-id="@Model.ArtWorkId" class="card-link" target="_blank">View Artwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

