@model IEnumerable<NKANA.ViewModels.ArtWorkInquiryListVm>

@{
    ViewData["Title"] = "Artwork Inquiries";
}

<section class="section">
    <div class="section-header">
        <h1>Inquiries</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Inquiries</h4>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th> @Html.DisplayNameFor(model => model.Title)</th>
                                    <th> @Html.DisplayNameFor(model => model.ArtWork)</th>
                                    <th> @Html.DisplayNameFor(model => model.User)</th>
                                    <th> @Html.DisplayNameFor(model => model.IsRead)</th>
                                    <th> @Html.DisplayNameFor(model => model.RequestDate)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                            <div class="table-links">
                                                <div class="bullet"></div>
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            </div>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.ArtWork)</td>
                                        <td>@Html.DisplayFor(modelItem => item.User)</td>
                                        <td>
                                            @if (item.IsRead)
                                            {
                                                <span class="badge badge-pill badge-success mb-1 float-right">Read</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill badge-warning mb-1 float-right">Unread</span>
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

