@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!-- Content -->
<div class="aurel_main_wrapper aurel_top_padding_yes aurel_bottom_padding_yes">
    <div class="aurel_container">
        <div class="aurel_content_wrapper row aurel_no_sidebar">
            <div class="aurel_content col col-12">
                <div class="aurel_tiny">

                    <div class="row aurel_pf_fullwidth">
                        <div class="col col-12 aurel_pl_30 aurel_pr_30">
                            <div class="aurel_widget_pm_albums_grid">
                                <div class="aurel_widget_container">
                                    <div class="aurel_front_end_display">
                                       
                                        <div class="aurel_albums_listing_cont aurel_albums_grid aurel_albums_grid4 view_type_grid aurel_isotope_trigger albums_titles_show">
                                            @foreach (var art in Model.FeaturedArtWorks)
                                            {
                                                <div class="aurel_albums_grid_item columns_4 artcat-@art.Id aurel_isotop_el_loading">
                                                    <div class="aurel_inner_cont">
                                                        <a asp-area="Gallery" asp-controller="ArtWorks" asp-action="Details" asp-route-id="@art.Id" class="aurel_dp aurel_no_select">
                                                            <img src="@art.ThumbnailUrl" alt="@art.Title" />

                                                            <span class="aurel_albums_grid_content">
                                                                <span class="aurel_albums_category">@art.Artist</span>
                                                                <span class="aurel_albums_title">@art.Title</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Albums -->
                    <div class="row aurel_js_bg_image aurel_js_min_height aurel_bg_center_center aurel_bg_size_cover aurel_pf_fullwidth aurel_landing_container aurel_mb_46 aurel_landing_albums" data-src="~/gallery/img/clipart/landing/back_2.jpg" data-min-height="200">
                        <div class="col col-12 push-middle aurel_landing_content">
                            <h1 class="aurel_page_heading aurel_js_font_size aurel_mb_37" data-font-size="60px" data-line-height="80px">More to love</h1>

                        </div>
                    </div>

                    <div class="row aurel_pf_fullwidth">
                        <div class="col col-12 aurel_pl_30 aurel_pr_30">
                            <div class="aurel_widget_pm_albums_grid">
                                <div class="aurel_widget_container">
                                    <div class="aurel_front_end_display">
                                        <div class="aurel_grid_filter_wrapper">
                                            <ul id="filters" class="aurel_grid_filter">
                                                <li class="aurel_filter-item is-checked"><a href="javascript:void(0)" data-category="*">All</a></li>
                                                @foreach (var cat in Model.ArtWorkGroups)
                                                {
                                                    <li class="aurel_filter-item"><a href="javascript:void(0)" data-category=".artcat-@cat.Id">@cat.Name</a></li>
                                                }
                                            </ul>
                                        </div>

                                        <div class="aurel_albums_listing_cont aurel_albums_grid aurel_albums_grid4 view_type_grid aurel_isotope_trigger albums_titles_show">
                                            @foreach (var cat in Model.ArtWorkGroups)
                                            {
                                                foreach (var art in cat.ArtWorks)
                                                {
                                                    <div class="aurel_albums_grid_item columns_4 artcat-@cat.Id aurel_isotop_el_loading">
                                                        <div class="aurel_inner_cont">
                                                            <a asp-area="Gallery" asp-controller="ArtWorks" asp-action="Details" asp-route-id="@art.Id" class="aurel_dp aurel_no_select">
                                                                <img src="@art.ThumbnailUrl" alt="@art.Title" />

                                                                <span class="aurel_albums_grid_content">
                                                                    <span class="aurel_albums_category">@art.Artist</span>
                                                                    <span class="aurel_albums_title">@art.Title</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
